body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;

}

body {
    margin: 0 200px;
}

/* Updated CSS to match Material-UI table */
/* Updated CSS to match Material-UI table with hover effects */
/* Updated CSS to match Material-UI table without border-radius and odd background */
table {
    width: 100%;
  }
  
  
  .MuiTableCell-root {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
  }
  
  .MuiTableBody-root .MuiTableCell-root:hover {
    background-color: #f0f0f0; /* Change background color on hover for cells in the body */
  }
  
  .MuiTableCell-root a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s; /* Add smooth transition for hover effect */
  }
  
  .MuiTableCell-root a:hover {
    color: #555; /* Change link color on hover */
  }
  